body {
    font-family: Open Sauce,arial,sans-serif;
    font-weight: 500;
    min-height: 100vh;
    font-size: 1.6rem;
    background: #111;
}
.main_section{
    width: 100%;
    height: 100vh;
    background-color: #111;
    background-size: cover;
    background-position: center;
}
.about_section{
    background-color: fuchsia;
}
.code{
    color: #777;
    font-family: 'Bebas Neue', cursive;
    font-size: 20rem;
    letter-spacing: -23px;
}
.name{
    color: #777;
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    letter-spacing: -23px;
    padding-left: 10px;
}
.code:hover{
    color: #aaa;
}
.name:hover{
    color: #aaa;
}
.space{
    padding: 5px;
}
.line_{
    display: block;
    margin-bottom: -60px;
    margin-top: -50px;
}
.main_section .title{
    margin-left: 50px;
    padding-top: 20px;
}
hr {
    border: 0;
    border-top: 2px solid #777;
}